/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.text-light-gray {
    color: #727272;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.section-details{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.50rem;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}


/* header styles */


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* <!-- teams sections start --> */

.team-container{
    display: flex;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-weight: 700;
    font-size: 3rem;
}

/*  <!-- featurs section start --> */

.featurs-section-container{
    display: flex;
    margin-top: 6rem;
    gap: 5.50rem;
}

.featurs-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    }
    .featurs-text-container .cards{
        padding: 2rem;
        margin-bottom: 1.25rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    }
    .feature-img img{
        height: 90%;
        margin-left: 90px;
    }
    


/* some fscts section style */

.some-facts{
    margin-left: 2rem;
    margin-top: 1.25rem;
}

.facts-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}
.facts-card-container .cards{
    border-radius: .50rem;
    border: 1px solid #FF900E ;
    text-align: center;
    padding: 2rem;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 5px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 1.25rem ;
    font-weight: 600;
    margin-top: 5px;
}
/* sponsors styles */

.sponspors{
    text-align: center;
    margin-top: 4rem;
}
.sponspors-describe{
    text-align: center;
    margin-top: 1rem;
}
.sponsor-icon-container{
    margin-top:2rem;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    gap: 2.50rem;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav,
    .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr); 
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    /* facts-card-container */

    .facts-card-container{
        flex-direction: column;
        gap: 1rem;
    }

    /* sponsor style */

    .sponsor-icon-container{
        flex-direction: column;
    }




    }
    /* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav,
    .team-container{
        flex-direction: column;
    }

        /* facts-card-container */

     .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 1rem;
        padding: 30px 30px;
        }

            /* sponsor style */

    .sponsor-icon-container{
      display: grid;
      /* grid-template-columns: repeat(2, 1fr); */
    }
}